@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
@keyframes slide-to-bottom {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: top;
  }
}
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.block {
  display: block;
}

.none {
  display: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

@keyframes slide-to-bottom {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: top;
  }
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

.flex--r-reverse {
  flex-direction: row-reverse;
}

.btn {
  font: 500 1em "Ubuntu";
  padding: 1.1em 2.5em;
  transition: background color 0.3s;
  border-radius: 2em;
  border: none;
}
.btn:hover {
  cursor: pointer;
}
.btn--primary {
  background-color: white;
  color: hsl(356deg, 100%, 66%);
}
.btn--secondary {
  background-color: transparent;
  color: white;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: "Overpass", sans-serif;
  font-weight: 500;
}

.container--center {
  width: min(111.2rem, 90%);
  margin: 0 auto;
  font-weight: 500;
}
.container--right {
  max-width: 127.5rem;
  margin-left: auto;
}
.container--left {
  max-width: 127.5rem;
  margin-right: auto;
}

.header {
  background: url("./../images/bg-pattern-intro-desktop.svg") top 52% right 75% no-repeat, linear-gradient(to right, hsl(13deg, 100%, 72%), hsl(353deg, 100%, 62%));
  background-size: 220%, auto;
  height: 60rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  border-bottom-left-radius: 8em;
  color: white;
}

.wrapper {
  max-width: 144rem;
  margin: 0 auto;
  overflow: hidden;
}

.navbar {
  align-items: center;
  justify-content: space-between;
  padding-top: 6rem;
}
.navbar__left {
  align-items: center;
  gap: 6.6rem;
}
.navbar__menu {
  gap: 2rem;
  display: none;
}
@media (min-width: 80rem) {
  .navbar__menu {
    display: flex;
  }
}
.navbar .menu {
  position: relative;
}
.navbar .menu__arrow {
  margin-left: 0.5rem;
  transition: 0.3s;
}
.navbar .menu__toggler--active .menu__arrow {
  transform: rotate(180deg);
}
.navbar .menu__dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: white;
  color: rgb(37, 37, 45);
  padding: 2em 2em;
  border-radius: 1rem;
  color: rgb(37, 37, 45);
  top: 4rem;
  gap: 2rem;
  box-shadow: 3px 6px 1em rgba(255, 38, 0, 0.377);
}
.navbar .menu__dropdown--active {
  display: flex;
  animation: slide-to-bottom 0.3s ease-in-out;
}
.navbar .button-wrapper {
  display: none;
}
@media (min-width: 80rem) {
  .navbar .button-wrapper {
    display: block;
  }
}
.navbar .hamburger {
  display: block;
}
@media (min-width: 80rem) {
  .navbar .hamburger {
    display: none;
  }
}
.navbar .hamburger__toggler {
  top: 0;
  left: 0;
  opacity: 0;
  width: 33px;
  height: 18px;
}
.navbar .hamburger__toggler:hover {
  cursor: pointer;
}
.navbar .hamburger__dropdown {
  display: none;
}
.navbar .hamburger__dropdown--expansed {
  display: flex;
}

.hero {
  flex-direction: column;
  margin-top: 11.8rem;
  align-items: center;
}
.hero__title {
  font-size: clamp(2.29rem, 3.49vw + 1.42rem, 4.21rem);
  margin-bottom: 2.7rem;
}
.hero__quotes {
  margin-bottom: 5rem;
}

.section {
  margin-block: 7rem;
  position: relative;
}
.section__title {
  font-size: clamp(1.83rem, 2.41vw + 1.23rem, 3.16rem);
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.section__content {
  align-items: center;
  justify-content: space-between;
}
.section__ilustration {
  flex: 0 1 50%;
  position: relative;
  min-height: 88.2rem;
}
.section__ilustration .bg {
  position: absolute;
  width: max-content;
  max-width: unset;
}
.section__ilustration .bg--left {
  top: 4rem;
  left: -27rem;
}
.section .content-wrapper {
  flex: 0 1 53.5rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
.section .content__paragraph {
  line-height: 1.7;
  color: hsl(207deg, 13%, 34%);
}
.section .content__title {
  font-size: clamp(1.46rem, 1.64vw + 1.05rem, 2.37rem);
  margin-bottom: 3rem;
}
.section-phone {
  background: url("./../images/bg-pattern-circles.svg") no-repeat, linear-gradient(to right, hsl(237deg, 17%, 21%), hsl(237deg, 23%, 32%)) no-repeat;
  background-size: 70%, auto;
  background-position: top 80% right 148%;
  margin-block: 0;
}
.section-phone__content {
  gap: 3rem;
}
.section-phone__ilustration {
  min-height: 40rem;
  position: relative;
  flex: 50%;
}
.section-phone__ilustration .bg {
  position: absolute;
  max-width: 53rem;
  top: -6rem;
}
.section-phone .content-wrapper {
  flex: 50%;
  justify-content: center;
}
.section-phone .content {
  margin-bottom: 0;
}
.section-phone .content__title {
  color: hsl(0deg, 0%, 100%);
  font-size: clamp(1.83rem, 2.41vw + 1.23rem, 3.16rem);
}
.section-phone .content__paragraph {
  color: hsl(240deg, 2%, 79%);
}

.footer {
  padding: 8rem 0;
  background-color: rgb(37, 37, 45);
  border-top-right-radius: 7em;
}
.footer__logo {
  flex: 1 0 28.6rem;
}
.footer__navbar {
  flex: 75%;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  row-gap: 10rem;
}
.footer .links-group__title {
  font-size: clamp(1.17rem, 1.1vw + 0.9rem, 1.78rem);
  margin-bottom: 4rem;
  color: hsl(0deg, 0%, 100%);
}
.footer .links-group__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: hsl(240deg, 2%, 79%);
}/*# sourceMappingURL=style.css.map */